body{
	margin: 40px 0 0 0;
	font-family: "宋体";
	background-color: #fff;
}
/*  */




/* 自定义工具提示文本颜色 */
.ui-tooltip{
	color: #666;
	/*margin-top: 5px;*/
}
.a{
	color: red;
}
#header{
	width: 100%;
	height: 40px;
	background: #007FFF;
	position: absolute;
	top: 0;
}
#header .header_main{
	position: relative;
	width: 80%;
	margin: 0 auto;
	height: 40px;

}
#header .header_main h1{
	font-size: 20px;
	margin: 0;
	/*left: 50px;*/
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	float: left;
	/*color: #ccc;*/
}
#header .header_search{
	padding-top: 4px;
	float: left;
}
#header .header_search .search{
	width: 300px;
	height: 24px;
	border: 1px solid #ccc;
	background: #fff;
	color: #666;
	font-size: 16px;
	text-indent: 5px;
	padding:2px 68px 2px 3px; 
}
#header #search_button{
	margin-top: 4px;
	margin-left: -33px;
	padding: 3px 5px;
	float: left;
}

#header .header_member{
	float: right;
	line-height: 40px;
	color: #555;
	font-size: 15px;
}
#header .header_member a{
	text-decoration: none;
	color: #555;

}
#reg{
	padding: 15px 0 0 15px;
}
#reg p{
	margin: 0 ;
	padding: 0;
}
#reg p label{
	font-size: 14px;
	color: #666;
}
#reg span{
	color: red;
}
#reg .text{
	border: 1px solid #ccc;
	background: #fff;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-indent: 5px;
	color: #666;
	font-size: 15px;
	border-radius: 5px;
	margin: 3px;
}
#reg input[type='radio']{
	/*position: relative;*/
	left: 10px; 
}